body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;

    color: #333333;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;

    background-color: #ffffff;

    box-shadow: 5px 0 15px rgba(0, 1, 1, 0.1),
                -5px 0 15px rgba(0, 1, 1, 0.1);
}

.wrapper {
    max-width: 1056px;
    margin: 0 auto;
}

/* --- Buttons --- */

.button {
    display: inline-block;
    box-sizing: border-box;

    padding: 10px 17px;
    margin: 0;

    font: inherit;

    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;

    background-color: #766357;

    border: none;
}

.main-search-button {
    margin-top: 47px;
    padding: 30px 55px;

    width: 568px;

    font-size: 21px;
    line-height: 26px;
}

.button-minus {
    padding: 0;

    width: 11px;
    height: 11px;

    background-image: url("../img/minus-gray.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: transparent;
}

.button-minus:hover {
    background-image: url("../img/minus-black.png");
}

.button-minus:active {
    background-image: url("../img/minus-blue.png");
}

.button-plus {
    padding: 0;

    width: 11px;
    height: 11px;

    background-image: url("../img/plus-gray.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: transparent;
}

.button-plus:hover {
    background-image: url("../img/plus-black.png");
}

.button-plus:active {
    background-image: url("../img/plus-blue.png");
}

/* ---  Header --- */

.main-navigation {
    position: relative;
}

.main-navigation .main-logo{
    position: absolute;
    top: 0;
    left: 50%;

    margin-left: -70px;

    width: 140px;
    height: 72px;

    z-index: 2;
}

.main-navigation .site-navigation  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0;
    padding: 0;
    padding-top: 14px;
    padding-bottom: 16px;


    list-style: none;
}

.site-navigation li {
    box-sizing: border-box;
    width: 240px;
    margin: 0;
    padding: 0;
}

.site-navigation li:nth-child(4n+1) {
    text-align: left;
}

.site-navigation li:nth-child(4n+2) {
    margin-right: auto;
    text-align: left;
}

.site-navigation li:nth-child(4n+3) {
    margin-left: auto;
    text-align: right;
}

.site-navigation li:nth-child(4n+4) {
    text-align: right;
}

.site-navigation a {
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
}


/* --- Main page --- */

.main-page-photo {
    position: relative;
    height: 508px;
    background-color: #d8e9f3;
    background-image: url("../img/background_photo.jpg");
    background-repeat: no-repeat;
    background-position-x:  center;
    background-position-y: -56px;
}

.main-page-title {
    position: absolute;
    top: 76px;
    left: 370px;

    width: 459px;
    height: 353px;
}

.main-page-polygon-layer {
    position: absolute;
    bottom: 0;
    left: 0;
}

.features {

}

.features h2 {
    margin: 0;
    padding: 0;
    padding: 0 100px;

    font-size: 21px;
    font-weight: bold;
    line-height: 21px;
}

.features p {
    margin: 0;
    padding: 0;
    padding: 0 48px;

    line-height: 21px;
}

.features img {
    display: block;
    margin: 0;
    padding: 0;
}

.features .left-column,
.features .middle-column,
.features .right-column {
    box-sizing: border-box;
    width: 400px;
    text-align: center;
}

.features .number {
    padding-top: 24px;
}

.features-item-1 {
    padding-top: 60px;
    padding-bottom: 51px;

    width: 576px;

    text-align: center;
}

.features-item-1 h2 {
    padding: 0;

    line-height: 26px;
    color: #000000;
}

.features-item-1 p {
    padding: 0;
    padding-top: 27px;

    line-height: 26px;
}

.features-item-2,
.features-item-4,
.features-item-5 {
    display: flex;
}

.features-item-2 .left-column,
.features-item-4 .left-column {
    padding-top: 47px;
    color: #ffffff;
    background-color: #81b3d2;
}

.features-item-2 p,
.features-item-4 p,
.features-item-5 p {
    padding-top: 21px;
}

.features-item-2 .right-column,
.features-item-4 .right-column {
    flex-grow: 1;
}

.features-item-3 {
    display: flex;
    padding-bottom: 82px;
}

.features-item-3 h2 {
    padding-top: 161px;
}

.features-item-3 p {
    padding-top: 24px;
}

.features-item-3 .left-column {
    background-image: url("../img/icon-1.svg");
    background-repeat: no-repeat;
    background-position-x: calc(50% - 1px);
    background-position-y: 60px;
}

.features-item-3 .middle-column {
    background-image: url("../img/icon-3.svg");
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 61px;
}

.features-item-3 .right-column {
    background-image: url("../img/icon-2.svg");
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 56px;
}

.features-item-4 .left-column {
    padding-top: 46px;
    order: 1;
}

.features-item-5 {
    padding-top: 47px;
    padding-bottom: 59px;
    background-color: #eeeeee;
}

.search-screen {
    margin: 0 auto;
    width: 576px;

    text-align: center;
}

.search-screen h3{
    margin: 0;
    margin-top: 50px;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}

.search-screen p {
    margin: 0;
    margin-top: 24px;
    line-height: 24px;
}

.map-screen {
    position: relative;
}

.map-screen iframe {
    position: relative;
}

.map-screen img{
    display: block;

    position: absolute;
    top: 0;
    left: 0;

    width: 1200px;
    height: 593px;
}

.modal-form {
    position: absolute;
    box-sizing: border-box;
    left: 50%;
    margin-left: -284px;
    padding: 55px;
    width: 568px;

    font-weight: bold;

    background-color: #ffffff;

    z-index: 1;
}

.modal-form p {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0;
    margin: 0;
    margin-bottom: 29px;
}

.modal-form input {
    box-sizing: border-box;
    width: 346px;

    margin: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 13px;
    padding-right: 30px;

    font: inherit;
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;

    background-color: #f2f2f2;

    border: none;
}

.modal-form input::placeholder {
    color: #000000;
}

.modal-form svg {
    position: absolute;
    top: 8px;
    right: 9px;

    fill: #a9a9a9;
    z-index: 1;
}

.modal-form svg:hover {
    fill: #000000;
}

.modal-form svg:active {
    fill: #81b3d2;
}

.age-category {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.age-category-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 226px;
}

.controls-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 13px;
    box-sizing: border-box;
    width: 114px;
    background-color: #f2f2f2;

}

.age-category input {
    padding-left: 0;
    padding-right: 0;
    width: 38px;

    text-align: center;
}

.age-category-wrapper:last-child {
    width: 179px;
}