body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;

    color: #333333;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;

    background-color: #ffffff;

    box-shadow: 5px 0 15px rgba(0, 1, 1, 0.1),
                -5px 0 15px rgba(0, 1, 1, 0.1);
}

.wrapper {
    max-width: 1056px;
    margin: 0 auto;
}

/* --- Buttons --- */

/* ---  Header --- */

.main-navigation {
    position: relative;
}

.main-navigation .main-logo{
    position: absolute;
    top: 0;
    left: 50%;

    margin-left: -70px;

    width: 140px;
    height: 72px;

    z-index: 2;
}

.main-navigation .site-navigation  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0;
    padding: 0;
    padding-top: 14px;
    padding-bottom: 16px;


    list-style: none;
}

.site-navigation li {
    box-sizing: border-box;
    width: 240px;
    margin: 0;
    padding: 0;
}

.site-navigation li:nth-child(4n+1) {
    text-align: left;
}

.site-navigation li:nth-child(4n+2) {
    margin-right: auto;
    text-align: left;
}

.site-navigation li:nth-child(4n+3) {
    margin-left: auto;
    text-align: right;
}

.site-navigation li:nth-child(4n+4) {
    text-align: right;
}

.site-navigation a {
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
}


/* --- Main page --- */

.main-page-photo {
    position: relative;
    height: 508px;
    background-color: #d8e9f3;
    background-image: url("../img/background_photo.jpg");
    background-repeat: no-repeat;
    background-position-x:  center;
    background-position-y: -56px;
}

.main-page-title {
    position: absolute;
    top: 76px;
    left: 370px;

    width: 459px;
    height: 353px;
}

.main-page-polygon-layer {
    position: absolute;
    bottom: 0;
    left: 0;
}

.features {

}

.features h2 {
    margin: 0;
    padding: 0;

    font-size: 21px;
    font-weight: bold;
    line-height: 21px;
}

.features p {
    margin: 0;
    padding: 0;

    line-height: 21px;
}

.features .left-column,
.features .middle-column,
.features .right-column {
    box-sizing: border-box;
    width: 400px;
    text-align: center;
}

.features-item-1 {
    padding-top: 60px;
    padding-bottom: 51px;

    width: 576px;

    text-align: center;
}

.features-item-1 h2 {
    line-height: 26px;
    color: #000000;
}

.features-item-1 p {
    padding-top: 27px;

    line-height: 26px;
}

.features-item-2 {
    display: flex;
}

.features-item-2 .left-column {
    padding-top: 47px;
    color: #ffffff;
    background-color: #81b3d2;
}

.features-item-2 h2 {
    padding: 0 100px;
}

.features-item-2 p {
    padding: 0 50px;
    padding-top: 21px;
}

.features .number {
    padding-top: 24px;
}


.features-item-2 .right-column {
    flex-grow: 1;
}
.right-column img {
    display: block;

    margin: 0;
    padding: 0;
}